<form class="flex justify-center" [formGroup]="formulario">
  <div class="w-1/2">
    <div class="mb-6">
      <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email</label>
      <input type="text" id="username"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark dark:"
        placeholder="user@email.com"  formControlName="username" />
    </div>
    <div class="mb-6">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">password</label>
      <input type="password" id="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark dark:"
         formControlName="password" />
    </div>
    <a href="" class="mb-6 block underline decoration-2">Olvidé mi contraseña</a>
    <ng-content></ng-content>
  </div>
</form>